head{
    color:blue;
    font-family:Arial, Helvetica, sans-serif
    font-size=xx-large;
}
h1{
    color:red;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:xx-large
}
body{
    color:green;
    font-family:'Times New Roman', Times, serif;
    font-size:large
}